/*
*-css reset -
*/
html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* styles for printers */
@media print{
    .nav{
        display: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    aside, footer{
        display: none;
    }
}

/* styles for wide screens */
@media only screen{
    body {
        line-height: 2;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /*
    *- socail media spirites
    */
     div[id^="si"]{
        width:65px;
        height:65px;
        background-image: url(image/social-icons.jpg);
        display: inline-block;
    }
    #si_fb{
        background-position: -4px -3px;
        border: 2px solid #6a80ab;
        border-radius: 50px;
    }
    #si_googleplus{
        background-position: 71px -3px;
        border: 2px solid #d3928a;
        border-radius: 50px;
    }
    #si_twitter{
        background-position: -79px -3px;
        border: 2px solid #45c2f2;
        border-radius: 50px;
    }
    #si_instagram{
         background-position: 70px 72px;
         border: 2px solid #698ca8;
         border-radius: 50px;
    }
    /*
    *-body
    */
    section h2[id^="section_title"]{
        margin: 10px 0px 0px;
        font-size: 2vw;
        font-weight: bold;
        color: #6db3f2;
        border-bottom-width: 3px;
        border-style: solid;
        border-color: #6db3f2;
    }
    #title h1{
        height: 100%;
        width:45%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    main{
        margin: -550px 20px;
    }
    article h2{
        font-size: 1.7vw;
        font-weight: bold;
        margin: 10px 0px;
        background-color: #f0f0f0;
    }
    article p{
        font-size: 1.2vw;
        margin: 10px 0px;
    }
    footer{
        margin: 0px 25px;
        font-size: 1.5em;
    }
    footer a{
        text-decoration: none;
        color:green;
    }
    footer p{
        margin: 10px 0px;
    }
    section{
        float: left;
        margin: 0 1.5%;
        width: 63%;
        color: #2f3c71;
    }
    #calendar{
        position: relative;
        margin-left: 67.5%;
        margin-top:auto;
        width: 450px;
        height: 400px;
    }
    #getting-started{
        position: relative;
        margin-left: 67.5%;
        margin-top:auto;
        font: 1.2vw;
    }
    /*
    *-aside
    */
    aside{
        overflow: scroll;
        position: relative;
        margin-left: 77.5%;
        height: 300px;
        font-size: 1vw;
    }
    aside h2{
        margin: 10px 0px;
        font-weight: bold;
        font-size: 1.5vw;
    }
    aside ul li{
        margin: 5px 0px;
        list-style-type: circle;
    }
    aside ul li a{
        text-decoration: none;
        color:#2f3c71;
    }
    /*
    *- nav
    */
    div[class="nav"]{
        font-family: 'PT Sans Narrow',sans-serif;
    }
    div[class="nav"] span{
        color: white;
    }
    .dropbtn {
        color: white;
        padding: 8px;
        border: none;
        cursor: pointer;
        min-width: 50px;
        font-size: 1.7vw;
        background-color: transparent;

    }
    .drop{
        display: inline-block;

    }
    .nondrop{
        display: inline-block;
    }

		.drop-wrapper{
			margin-left: 400px;
		}

    .nav {
        width: auto;
        left: 0px;
    }
    .nav span{
        font-size: 1.7vw;
        color: white;
        padding: 0px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 162px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #6db3f2;
    }
    .dropdown-content:hover{
        text-shadow: 0px 0px 5px #0d1a3a;
    }
    .dropdown-content:hover a{
        text-shadow: 0px 0px 5px #0d1a3a;
        color:white;
        text-shadow: 0px 0px 5px #fff;
         -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
    }
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 1.7vw;
        width:auto;
        color: white;
        text-transform: uppercase;
        text-shadow: 0px 0px 0.25px #fff;
        letter-spacing: 1px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
    }

    .dropdown-content a:hover{
        color:#6db3f2;
        text-shadow: 0px 0px 1px #fff;
        background-color: #f1f1f1;
    }

    .nondropbtn a{
        color: white;
        padding: 12px 16px;
        text-decoration: none;
    }

    .dropbtn:hover {
    }
    .drop:hover .dropdown-content {
        display: block;
    }
    .nondropbtn{
        color: white;
        padding: 16px;
        border: none;
        cursor: pointer;
        min-width: 150px;
        font-size: 1.7vw;
    }

    .flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
    }

    .flexsearch--form {
        overflow: hidden;
        position: relative;
    }

    .flexsearch--input-wrapper {
        padding: 0 66px 0 0; /* Right padding for submit button width */
        overflow: hidden;
    }

    .flexsearch--input {
      width: 100%;
    }

    /***********************
     * Configurable Styles *
     ***********************/
    .flexsearch {
      padding: 0 25px 0 200px; /* Padding for other horizontal elements */
        margin-left:-200px;
    }

    .flexsearch--input {
      -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 30px;
        width: 385px;
        padding: 0 46px 0 10px;
        border-color: #888;
      border-style: solid;
        border-width: 5px;
      margin-top: 15px;
      color: #333;
      font-family: 'Helvetica', sans-serif;
        font-size: 26px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .flexsearch--submit {
      position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
      padding: 0;
      border: none;
        margin-top: 20px; /* margin-top + border-width */
      margin-right: 5px; /* border-width */
        background: transparent;
      color: #888;
      font-family: 'Helvetica', sans-serif;
      font-size: 20px;
      line-height: 30px;
    }

    .flexsearch--input:focus {
      outline: none;
      border-color: #333;
    }

    .flexsearch--input:focus.flexsearch--submit {
        color: #333;
    }

    .flexsearch--submit:hover {
      color: #333;
      cursor: pointer;
    }

    ::-webkit-input-placeholder {
        color: #888;
    }

    input:-moz-placeholder {
      color: #888
    }
}
